@media only screen and (min-width: 750px) {
    .splash-image {
        min-height: 500px;
    }
    .splash-text {
        top: 50px;
        font-size: 30px;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 775px) {
    .splash-image {
        min-height: 600px;
    }
}


@media only screen and (min-width: 800px) { /*Here's a good breakpoint*/
    .navigation {
        height: 70px;
    }
    .nt {
        padding: 23.5px;
        font-size: 20px;
        height: 100%;
    }
    .splash-image {
        min-height: 700px;
    }
    .project-images {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%
    }
    .project {
        width: 45%;

        margin: 20px;
    }
}

@media only screen and (min-width: 850px) {
    .splash-image {
        min-height: 800px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .splash-text {
        top: 50px;
        font-size: 40px;
        padding-left: 45px;
    }
}


@media only screen and (min-width: 1000px) { 
    .splash-image {
        min-height: 900px;
    }
    .splash-text {
        top: 60px;
        font-size: 45px;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .splash-image {
        min-height: 1000px;
    }
    .splash-text {
        font-size: 50px;
    }
}