/******************************* default styles for smallest viewports*********************************/
html, body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/******************************************** NAVIGATION *********************************************/
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 1;
    background: rgba( 255, 255, 255, 0.7);
    color: black;
}

.navigation:hover {
    background: rgba( 255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: black;
}

.home {
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Sacramento', serif;
}
.nav-text {
    display: none;
}
.nav-icons {
    padding-right: 5px;
}
.nav-fa {
    padding: 7px;
}
.nav-fa:hover {
    background: rgba(174,218,206, 0.7);
}

/*************************************** SPLASH IMAGE *************************************************/
.splash-image {
    min-height: 200px;
    
    background-image: url("../images/splash2.jpg");
    /* background-position: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
   
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    
}
.splash-text{
    position: absolute; 
    font-family: 'Sacramento', serif;
    top: 30px;
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    color: black;
    line-height: 250%;
    text-shadow: 2px 2px 2px rgb(174,218,206);
} 

/*************************************** ABOUT SECTION *************************************************/


h2 {
    font-family: 'Sacramento', serif;
    font-size: 2rem;  
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 
.badges {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.org {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(85,129,150);
}
.tech-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 45px;
    justify-content: center;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
.devicon {
    padding: 7px;
}
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(174,218,206);
}
.super-footer {
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    text-decoration: none;
    color: black;
}
.footer-icon:hover {
    color:rgb(85,129,150);
}

.info {
    padding:25px;
}
.logo {
    display: none;
}
.social {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.fa-heart {
    color: #be0000;
}
.fa-coffee {
    color: #52361b;
}
.made-with {
    /* position: absolute; */
    text-align: center;
    /* right: 20px; */
}
.about-me {
    text-align: center;
    padding: 20px;
}
#portContactForm {
    display: flex;
    flex-direction: column;
}
.contact-title {

    margin-bottom: 0px;
}
input {
    font-family: 'Josefin Sans', sans-serif; 
    border: grey 1px solid;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
textarea {
    font-family: 'Josefin Sans', sans-serif; 
    border: grey 1px solid;
    border-radius: 2px;   
    padding: 5px;
    margin: 5px;
}
.contact-tagline {
    text-align: center;
}
.send {
    font-family: 'Josefin Sans', sans-serif; 
    border: rgb(85,129,150) 1px solid;
    border-radius: 2px; 
    background: rgb(85,129,150);
    color: white;
    padding: 5px;
    margin: 5px;
    margin-bottom: 25px;
}

.project {
    width: 100px;
    /* height: 225px; */
    border: 1px grey solid;
    margin: 10px;
}
.about-title {
    margin-bottom: 0;   
}

.project-images {
    width: 100%;
    justify-content: center;
}

