/******************************* default styles for smallest viewports*********************************/
html, body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: Actonia;
    src: url(../Actonia.ttf);
}
/******************************************** NAVIGATION *********************************************/
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 1;
    background: rgba( 255, 255, 255, 0.7);
    color: black;
}
.navigation:hover {
    background: rgba( 255, 255, 255, 0.9);
}
a {
    text-decoration: none;
    color: black;
}
.home {
    padding-left: 10px;
    font-weight: bold;
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
}
.nav-text {
    display: none;
}
.nav-icons {
    padding-right: 5px;
}
.nav-fa {
    padding: 7px;
}
.nav-fa:hover {
    background: rgba(174,218,206, 0.7);
}

/*************************************** SPLASH IMAGE *************************************************/
.splash-image {
    min-height: 200px;
    width: 100%;
    background-image: url("../images/splash2.jpg");
    /* background-position: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    
}
.splash-text{
    position: absolute; 
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
    top: 30px;
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    color: black;
    line-height: 200%;
    /* text-shadow: 2px 2px 2px rgb(174,218,206); */
    text-shadow: 2px 2px 2px rgb(215,231,235);
    
} 
.subs {
    padding-top: 20px;
    font-size: 0.8em;
}

/*************************************** ABOUT SECTION *************************************************/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top:20px;
} 
.about-title {
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
    font-size: 1.75rem;
    margin-bottom: 0; 
}
.about-text {
    margin-top: 0;
    text-align: center;
    padding: 30px;
}
.badge-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.badge {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.wwc {
    border: 1px solid black;
}

/*************************************** TECH SECTION *************************************************/

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(85,129,150);
    width: 100%;
    padding-top: 20px;
}
.tech-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 45px;
    padding: 5px;
    margin-bottom: 25px;
}
.tech-title {
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
    font-size: 1.75rem; 
    margin-bottom: 20px;
}
.devicon {
    padding: 7px;
}

/*************************************** WORK SECTION *************************************************/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    
}
.work-title {
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
    font-size: 1.75rem; 
    margin-bottom: 25px;
}
.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.project {
    width: 95%;
    margin: 10px;
    background-color: rgb(215,231,235);
}
.dasher { 
    width: 100%;
}
.biolingual {
    width: 100%;
    border: 1px solid black;
}
.gas {
    width: 100%;
}
.newstory {
    width: 100%;
    border: 1px solid black;
}
.project-description {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.button {
    border: 1px solid white;
    /* height: 50%;  */
}
ul {list-style: none}
li::before {content: "\2022"; color: rgb(85,129,150);
    display: inline-block; width: 1em;
    margin-left: -1em}
/*************************************** CONTACT SECTION *************************************************/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(174,218,206);
}
.contact-title {
    /* font-family: 'Sacramento', serif; */
    font-family: 'Actonia', 'serif';
    font-size: 1.75rem; 
    padding-top: 20px;
    margin-bottom: 0;
}
#portContactForm {
    display: flex;
    flex-direction: column;
}
input {
    font-family: 'Josefin Sans', sans-serif; 
    border: grey 1px solid;
    border-radius: 2px;
    width: 45%;
    padding: 5px;
    margin: 5px;  
}
textarea {
    font-family: 'Josefin Sans', sans-serif; 
    border: grey 1px solid;
    border-radius: 2px;  
    width: 95%;
    padding: 5px;
    margin: 5px;
}
.contact-tagline {
    text-align: center;
    padding-top: 20px;
}
.send {
    font-family: 'Josefin Sans', sans-serif; 
    border: rgb(85,129,150) 1px solid;
    border-radius: 2px; 
    background: rgb(85,129,150);
    color: white;
    padding: 5px;
    margin: 5px;
    margin-bottom: 25px;
    width: 95%;
}


/*************************************** FOOTER *************************************************/


.super-footer {
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    text-decoration: none;
    color: black;
}
.footer-icon:hover {
    color:rgb(85,129,150);
}
.info {
    font-size: 14px;
}
.email {
    font-size: 12px;
}
.logo {
    display: none;
}
.social {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.fa-heart {
    color: #be0000;
}
.fa-coffee {
    color: #52361b;
}
.made-with {
    text-align: center;
    padding-bottom: 20px;
}


/*************************************** media queries to fix splash img for mobile *************************************************/
@media only screen and (min-width: 375px) {
    .splash-image {
        min-height: 250px;
    }
}

@media only screen and (min-width: 400px) {
    .splash-image {
        min-height: 275px;
    }
    .splash-text {
        top: 40px;
        font-size: 16px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 425px) {
    .splash-image {
        min-height: 300px;
    }
    .splash-text {
        top: 40px;
        font-size: 18px;
        padding-left: 25px;
    }
}


